<main>
  <div>
    <h2 style="text-align: center">To contact Iron-man, Please fill in the form we will get back to you</h2>
    <hr>
    <form (ngSubmit)="AddContactdetails()">
      <div class="form-group">
        <label >Name</label>
        <input type="text" class="form-control" placeholder="Enter Full Name" name="Name" [(ngModel)]="addcontact.name">
        <small class="form-text text-muted">Enter full name.</small>
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="Enter email" name="Email" [(ngModel)]="addcontact.email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="number" class="form-control" placeholder="Enter Phone Number" name="Phone" [(ngModel)]="addcontact.phone">
      </div>
      <div class="form-group">
        <label>Remarks</label>
        <input type="text" class="form-control" placeholder="Enter Remarks" name="Remark" [(ngModel)]="addcontact.remark">
        <small class="form-text text-muted">Enter Remarks if any.</small>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
         
    </form>
    </div>
    <br>
    <div class="alert alert-success text-center" role="alert" *ngIf=issaved>
      Contact succesfully saved --><a routerLink="/7" class="alert-link" >Goto All contacts Page </a>
      </div>
  </main>