<main>
  <h2 style="text-align: center">Personal-Information</h2>
  <br>
  <hr>
  <br>
  <table class="table table-hover">
    <tr>
      <td>
        <th>Name</th>
      

      <td>Iron-Man</td>
    </tr>
    <tr>
      <td>
        <th>Age</th>
      
      <td>53</td>
    </tr>

    <tr>
      <td>
        <th>DOB</th>
      
      <td>April 4, 1965</td>
    </tr>
    <tr>
      <td>
        <th>Father-name</th>
      
      <td>Howard Stark</td>
    </tr>
    <tr>
      <td>
        <th>Address</th>
      
      <td>
        <address>10880 Malibu Point,
          <br> Malibu, Calif.
          <br> 90265.
          <br>
        </address>
      
    </tr>
    <tr>
      <td>
        <th>Email</th>
      
      <td>
        <a href="mailto:ironman@stark.co.in">ironman@stark.co.in</a>
      </td>
    </tr>
    <tr>
      <td>
        <th>Phone No.</th>
      <td>+1489746153</td>
    </tr>
  </table>
  <hr>
  <div class="text-center">
    <h2>Details</h2>
    <hr>
    <p>Stark is a genius, billionaire, philanthropist and the former head of Stark Industries. Using his own great wealth and
      exceptional technical knowledge, Stark enjoyed the playboy lifestyle for many years until he was kidnapped by the Ten
      Rings. With his life on the line, Stark created an armored suit which he used to escape his captors, returning home
      and becoming the armored superhero known as Iron Man, battling against terrorists as well as his own former business
      partner Obadiah Stane. Stark enjoyed the fame that came with his new secret identity and decided to share it with the
      world, publicly announcing himself as Iron Man.
    </p>
<p>      Stark proposed to Pepper Potts, and was recruited by Doctor Strange and Bruce Banner to defend Earth from Thanos and
      the Black Order. Strange was captured, prompting Stark and Spider-Man to rescue him from captivity and travel to Titan
      to battle Thanos with the help of the Guardians of the Galaxy. Stark later battled one-on-one with Thanos and made
      him bleed but was subsequently beaten to submission. He was ready to die in order to save the universe, but Doctor
      Strange interfered. Strange surrendered the Time Stone to Thanos in exchange for Stark's life. Stark remained on Titan
      with Nebula as they watched their allies disintegrate into ashes.
    </p>
  </div>
</main>